@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
.main {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: #eef1f5;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	gap: 24px;
	max-width: 520px;
	min-width: 420px;
	padding: 64px 48px;
	border-radius: 15px;
	background-color: #262c38;
	box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.25);
}
.container {
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
}
.title {
	font-size: 24px;
	color: #eef1f5;
	font-weight: 600;
}

.counter {
	font-size: 74px;
	color: #eef1f5;
	font-weight: 600;
}

.buttonWrapper {
	display: flex;
	gap: 12px;
}

.button {
	padding: 12px 24px;
	color: #eef1f5;
	border: none;
	font-size: 18px;
	border-radius: 15px;
	box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.25);
}

.button:hover {
	opacity: 0.33;
}

.buttonMinus {
	background-color: crimson;
}
.buttonPlus {
	background-color: darkcyan;
}

.header {
	box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.25);
	background-color: #0e1c25;
}

.header__logo {
	font-size: 24px;
	font-weight: 900;
	width: 100%;
	color: black;
	font-family: "Sigmar", sans-serif;
	align-self: center;
	color: white;
}

.header__link {
	min-height: 60px;
	display: flex;
}
.header__link:hover {
	text-decoration: none;
}

.button {
	background-color: #0e1c25;
	min-width: 220px;
}

.wrapperLink {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 800px;
	border-radius: 12px;
	padding: 84px 72px;
	box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.25);
}

.titleMain {
	font-size: 48px;
	font-weight: 800;
	color: #0e1c25;
	align-self: center;
	margin-bottom: 48px;
}

.linkContainer {
	display: flex;
	justify-content: center;
	gap: 32px;
	flex-wrap: wrap;
}

.buttonPopup {
	position: relative;
	cursor: pointer;
}

.iconButton {
	position: absolute;
	top: 12px;
	right: 20px;
}
.popupWrapper {
	display: none;
	position: fixed;
	overflow-y: auto;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(51, 51, 51, 0.7);
}

.popup {
	background-color: white;
	position: absolute;
	box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.25);
	padding: 50px 25px;
	border-radius: 15px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.popupUsers {
	bottom: 50%;
}

.active {
	display: block;
}

.close {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 32px;
	color: grey;
	cursor: pointer;
}

.progress {
	position: relative;
	width: 100%;
	height: 8px;
	background-color: #eef6f5;
	border-radius: 10px;
}

.progress > span {
	display: block;
	height: 100%;
	background-color: red;
}

.quest {
	font-size: 32px;
	color: white;
}

.answer {
	background-color: #eef1f5;
	width: 100%;
	padding: 12px 16px;
	border-radius: 10px;
}

.answer:hover {
	outline: 4px solid blue;
	cursor: pointer;
}

.correctAnswers {
	color: white;
	font-size: 32px;
}

.buttonAgain {
	background-color: red;
}

.searchInput {
	padding: 12px 24px;
	width: 100%;
}

.Users {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 24px;
}
.User {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #eef1f5;
	padding: 12px 24px;
	border-radius: 10px;
	gap: 12px;
}

.User__wrapper {
	display: flex;
	gap: 12px;
}

.UserImg {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	object-fit: cover;
}

.UserTitleWrap {
	display: flex;
	flex-direction: column;
}

.User__name {
	font-size: 20px;
	font-weight: 600;
	color: #333;
}

.User__email {
	color: #999;
}

.plus {
	font-size: 36px;
	line-height: 1%;
}

.UsersButton {
	width: 100%;
	padding: 18px;
	background-color: red;
	border: none;
	color: white;
	border-radius: 10px;
}

.converterWrap {
	background-color: red;
	padding: 40px 20px;
	margin: auto;
	margin-top: 250px;
}

.grid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, 1fr);
}

.BlockConverter {
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 200px;
	width: 300px;
	background-color: blue;
	padding: 20px 25px;
}

.BlockConverter__choose {
	width: 100%;
	height: 50px;
	background-color: green;
}

.BlockConverter__inputNumber {
	width: 100%;
	height: 100px;
	font-size: 48px;
	font-weight: 700;
}
